@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900);


body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}
.header {
    display: flex;
    background-color: #1f2937;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
    justify-content: space-between;
    color: #f9faf8;
}

.header .left-side {
    font-size: 24px;
    font-weight: 900;

}

.header .right-side {
    display: flex;
    list-style-type: none;
    gap: 50px;
    font-size: 18px;

}

.second-header {
    display: flex;
}

.second-header .left-side {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    flex-direction: column;


}

.second-header .right-side {

}


.hero-main-text {
    font-size: 48px;
    font-weight: 900;
}

.sign-up {
    background-color: #3882f6;
    border: 0px;
    padding: 5px;
    border-radius: 4px;
    color: #f9faf8;
}