
body {
    margin: 0px;
}


.header {
    display: flex;
    background-color: #FFFFF0;
    margin: 0px;
    padding: 0px;
    justify-content: space-between;
    font-family: monospace;

}



.left-side {
    display: flex;
    align-items: center;
    font-size: 40px;
    color: goldenrod;
    margin: 10px;
}

.left-side .icon-text {
    margin: 10px;
    background-color: antiquewhite;
    border-radius: 5px 20px 5px;
    padding: 10px;
}


.right-side {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    margin: 50px;
    font-size: 25px;
    color: goldenrod;
}

.right-side .right-side-text {
    background-color: antiquewhite;
    border-radius: 5px 20px 5px;
    padding: 10px;
}


.cardlist {
    display: flex;
    flex-wrap: wrap;
}


.card {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 20px;
    background-color: aliceblue;
    border-radius: 20px 20px 20px;
    padding: 20px;
}